<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/style.css" type="text/css" />
		<title>Eat-Da-Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Monoton|Orbitron" rel="stylesheet">
	
	</head>
	<body>
		{{{ body }}}
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</html>